In [ ]:
# Try your first Python output. Click here and press Shift + Enter to execute the cell

'Hello, Python!'

In [ ]:
# Print an integer

2

In [ ]:
# Addition operation
2+2

In [ ]:
# Multiplication operation
2.5*3.5

In [ ]:
# Create a new code cell below this cell and type in 4.5 and execute it
4.5

In [ ]:
# Execute this cell by clicking Shift + Enter

# 2+3

My First Markdown

Evaluating Basic Arithmetic Expression
Here, you will be evaluating a basic arithmetic expression containing addition and multiplication operations.

In [ ]:
(20+5)*4

In [ ]:
# Displaying a  string message
"Let us explore python without coding"

In [24]:
## Click after 1+1 in this cell and split it
1+1

2

In [1]:
2*2

4

# Execute it as a markdown cell
# H1: This is a level 1 Heading
## H2: This is a level 2 Heading
### H3: This is a level 3 Heading
#### H4: This is a level 4 Heading
##### H5: This is a level 5 Heading
###### H6: This is a level 6 Heading

# Execute it as a markdown cell
**Bold Text using asterisks.**  
__Bold Text using underscores.__

# Execute it as a markdown cell
*Text in italics using asterisk.*  
_Text in italics using underscore._

# Execute it as a markdown cell
***Bold and Italic text using asterisks.***  
___Bold and Italic text using underscores.___

# Execute it as a markdown cell
[Skills Network](https://skills.network/)

# Execute it as a markdown cell
<https://skills.network/>

# Execute it as a markdown cell
LOGO: ![This is the skills network logo](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png)

| Country Name | Capital |
| -------------| ------ |
| United States | Washington DC |
| Australia | Canberra |
| India | New Delhi |

# Execute as a markdown cell
- First item using dashes
- Second item using dashes
- Third item using dashes
- Fourth item using dashes

* First item using asterisks
* Second item using asterisks
* Third item using asterisks
* Fourth item using asterisks

+ First item using plus
+ Second item using plus
+ Third item using plus
+ Fourth item using plus

# Execute as a markdown cell
1. First item
2. Second item
3. Third item
4. Fourth item

## Welcome to Python programming
Launcher:![This is SN labs New Launcher](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Labs_V4/images/Launcher.png)

<a href ="https://www.coursera.org/learn/open-source-tools-for-data-science/home/">Tools For Data Science</a>

|Fruits | Quantity(Kg) | Price(In Rupee) | 
| ------ | ------ | ------ | 
| Apple | 2 |500|
|Orange | 1 |200|
| Mango | 3 |1000|
| Grapes | 2 |400|

1. Python
2. Java
3. C++
4. C

In [2]:
## Click here and use Run Selected Cells to execute it.
11+4

15

In [4]:
150*50

7500